@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* RESET */
* {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; box-sizing: border-box;} article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;} body {line-height: 1;} a {text-decoration:none;} ol, ul {list-style: none;} *:active, *:focus {border: none; outline: none;} strong {font-weight: bold;} em {font-style: italic;}
/* RESET */

:root {
	--side-padding: 1.5rem;
	--main-text-color: rgb(180, 202, 236);
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--main-text-color);
	/* background-color: #457B9D; */
	/* background-image: linear-gradient(to right bottom, rgb(15, 23, 42), rgb(30, 41, 59), rgb(15, 23, 42)); */
	background-image: linear-gradient(to right bottom, rgb(9, 10, 37), rgb(37, 49, 115), rgb(17, 4, 28));
}

#app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	color: var(--main-text-color);
	background-color: transparent;
}

.container {
	width: min(100%, 1920px);
	padding: var(--side-padding) var(--side-padding);
	margin: 0 auto;
	position: relative;
}

main {
	flex: 1;
}
main .container > * + * {
	margin-top: 1.25rem;
}