#app.home main {
	align-content: center;
}
#app.home main .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

#app.home main #main-options {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
#app.home main #main-options .form-group {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
#app.home main #main-options input, 
#app.home main #main-options input::placeholder {
	color: rgb(148, 163, 184);
}
#app.home main #main-options input {
	padding: 0.3125rem;
	border: 1px solid rgb(147, 51, 234);
	border-radius: 0.375rem;
	background-color: rgba(15, 23, 42, 0.25);
	transition: all 0.3s ease;
}
#app.home main #main-options input:focus {
	color: #fff;
	background-color: rgba(15, 23, 42, 0.65);
}
#app.home main #main-options input:focus::placeholder {
	color: #fff;
}
#app.home main #main-options button {
	padding: 0.5rem 0.625rem;
	color: #fff;
	border-radius: 0.375rem;
	border: 1px solid rgba(0,0,0,0.5);
	box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
	background-color: #1DB954;
	cursor: pointer;
	opacity: 0.8;
	transition: all 0.3s ease;
}
#app.home main #main-options button:hover, 
#app.home main #main-options button:focus {
	opacity: 1;
}

#app.home main #favorites-options {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
#app.home main #favorites-options a {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1.2rem;
	color: var(--main-text-color);
}