#app.watch main {
	display: flex;
	position: relative;
}

#playlist-controls {
	padding: 0.75rem 0.5rem 0.45rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
}
#playlist-controls button.prev {
	transform: rotate(180deg);
}
#playlist-controls button svg {
	display: block;
}
#playlist-controls button svg * {
	transition: all 0.3s ease;
}
#playlist-controls button:hover svg circle {
	stroke: #45659f;
}
#playlist-controls button:hover svg polygon, #playlist-controls button:hover svg line {
	stroke: var(--main-text-color);
}

#wrapper-playlist {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	overflow: hidden;
	background-color: #000;
}
#wrapper-playlist #playlist {
	width: 100%;
	padding: 0.45rem 0.225rem;
	display: flex;
	align-items: center;
	gap: 1.25rem;
	overflow-x: auto;
	overflow-y: hidden;
	scrollbar-color: var(--main-text-color) rgb(69, 101, 159);
}
#wrapper-playlist #playlist .playlist-item {
	width: 8rem;
	position: relative;
	aspect-ratio: 1/1;
	flex-shrink: 0;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-top-right-radius: 10px;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all 0.3s ease;
}
#wrapper-playlist #playlist .playlist-item.active {
	border-color: #45659f;
	box-shadow: inset 0 0 6px 2px #45659f;
}
#wrapper-playlist #playlist .playlist-item img {
	max-width: 100%;
	position: relative;
	z-index: -1;
	display: block;
	opacity: 0.8;
	transition: all 0.3s ease;
}
#wrapper-playlist #playlist .playlist-item:hover img,
#wrapper-playlist #playlist .playlist-item.active img {
	opacity: 1;
}
#wrapper-playlist #playlist .playlist-item button.remove {
	width: 1.5rem;
	aspect-ratio: 1 / 1;
	padding: 0.35rem;
	position: absolute;
	top: -1px;
	right: -1px;
	z-index: 1;
	border-radius: 100%;
	border: 2px solid #fff;
	background-color: #000;
	opacity: 0.8;
	transition: opacity 0.3s ease;
}
#wrapper-playlist #playlist .playlist-item button.remove:hover {
	opacity: 1;
}
#wrapper-playlist #playlist .playlist-item button.remove svg {
	width: 100%;
	height: 100%;
	display: block;
}
#wrapper-playlist #playlist .playlist-item .video-title {
	width: 100%;
	padding: 6px;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #ebebeb;
	opacity: 1;
	background-color: #2d2d2d99;
	transition: all 0.3s ease;
}

#wrapper-player {
	flex: 1;
}
#wrapper-player iframe {
	width: 100%;
	height: 100%;
	display: block;
}